.col-container {
  flex: 1 1 45em;
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  flex: 1 1 1em;
  /* display: flex; */
  flex-wrap: wrap;
  height: 15em;
  padding: 2vw;

  background: white;
  border: 1px solid #CCCCCC;
  border-bottom: none;

}

.col-2 {
  flex: 1 1 60em;
  display: flex;
  flex-wrap: wrap;
  height: 15em;

  padding: 2vw;
  background: #E6E6E6;
  /* border: 1px dashed black; */
  border-left: none;
  border: 1px solid #CCCCCC;
  border-top: none;

}

.event-title {
  padding: 2vw;

}


.event-descrip {
  padding: 2vw;

}
